body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3b4b54;
}

a {
  color: #00b2EF;
}

h1 {
  color: #00b299;
  text-align: center;
}

h2 {
  color: #006658;
  font-size: 20px;
}
p{
  padding: 0px;
}



.askContent {
  background-color: #00b299;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

.textbox {
  width: 100px;
  padding: 5px;
}

.askButton {
  width: auto;
  background-color: #3b4b54;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0;
  display: inline-block;
  border: none;
  outline:none;
  padding: 7px;
}

.askButton:hover {
  background-color: #00b2EF;
  color: #ffffff;
}